* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 240, 240);
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.input{
   margin-left: 1000px;
}



.content {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.box {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(10, 10, 231);
}

.box p {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.box #paciente_nome {
    font-weight: bold;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.box .info {
    height: 35%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    padding: 25px;
    background-color: rgb(15, 230, 15);
    
}
